.u-section-1 .u-sheet-1 {
  min-height: 814px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1.4;
  font-family: Recoleta-Bold;
  width: 901px;
  margin: 333px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-family: Recoleta-Regular;
  width: 612px;
  font-weight: 400;
  margin: 34px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 357px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 298px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 298px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-family: Recoleta-Black;
  margin: 46px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: Sora-VariableFont_wght;
  margin: 22px 686px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 266px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 126px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 357px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-auto-rows: 100%;
  grid-gap: 10px 10px;
  min-height: 357px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-3 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-family: Recoleta-Light;
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-family: Sora-VariableFont_wght;
  margin: 20px 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Recoleta-Regular;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-3 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-family: Recoleta-Light;
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  font-family: Sora-VariableFont_wght;
  margin: 20px 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Recoleta-Regular;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-3 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-family: Recoleta-Light;
  margin: 30px 0 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  font-family: Sora-VariableFont_wght;
  margin: 20px 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Recoleta-Regular;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    min-height: 357px;
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 294px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    width: 720px;
    min-height: 450px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 450px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 2px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 17px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 40px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 2px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 17px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 40px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 2px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-left: 17px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 40px;
  }

  .u-section-3 .u-gallery-nav-1 {
    left: 0;
    top: 258px;
  }

  .u-section-3 .u-gallery-nav-2 {
    left: auto;
    top: 249px;
    right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    min-height: 739px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-3 .u-list-1 {
    min-height: 450px;
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-gallery-nav-1 {
    top: 263px;
  }

  .u-section-3 .u-gallery-nav-2 {
    top: 261px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 803px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Recoleta-Regular;
  margin: 15px 939px 0 0;
}

.u-section-4 .u-text-2 {
  font-family: Sora-VariableFont_wght;
  margin: 26px 652px 0 0;
}

.u-section-4 .u-blog-1 {
  grid-auto-rows: 100%;
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14.6667px);
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-auto-rows: 100%;
  grid-gap: 22px 22px;
  min-height: 559px;
}

.u-section-4 .u-repeater-item-1 {
  background-size: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-image-1 {
  height: 351px;
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-family: Recoleta-Regular;
  margin: 17px 0 0;
}

.u-section-4 .u-metadata-1 {
  font-size: 0.875rem;
  font-family: Sora-VariableFont_wght;
  margin: 15px auto 0;
}

.u-section-4 .u-btn-1 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  border-style: none;
}

.u-section-4 .u-repeater-item-2 {
  background-size: auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-image-2 {
  height: 351px;
  margin: 0;
}

.u-section-4 .u-text-4 {
  font-family: Recoleta-Regular;
  margin: 17px 0 0;
}

.u-section-4 .u-metadata-2 {
  font-size: 0.875rem;
  font-family: Sora-VariableFont_wght;
  margin: 15px auto 0;
}

.u-section-4 .u-btn-2 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  border-style: none;
}

.u-section-4 .u-repeater-item-3 {
  background-size: auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-image-3 {
  height: 351px;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-family: Recoleta-Regular;
  margin: 17px 0 0;
}

.u-section-4 .u-metadata-3 {
  font-size: 0.875rem;
  font-family: Sora-VariableFont_wght;
  margin: 15px auto 0;
}

.u-section-4 .u-btn-3 {
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  border-style: none;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Recoleta-Regular;
  margin: 30px auto;
  padding: 3px 5px 4px;
}

.u-section-4 .u-icon-1 {
  color: rgb(30, 32, 29) !important;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 739px;
  }

  .u-section-4 .u-text-2 {
    width: 488px;
    margin-right: 452px;
  }

  .u-section-4 .u-blog-1 {
    min-height: 309px;
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 461px;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 519px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 232px;
  }

  .u-section-4 .u-blog-1 {
    width: 720px;
    min-height: 907px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 11px);
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 600px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-bottom: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-bottom: 0;
  }

  .u-section-4 .u-gallery-nav-1 {
    left: 0;
    top: 180px;
  }

  .u-section-4 .u-gallery-nav-2 {
    left: auto;
    top: 185px;
    right: 11px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 15px;
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 339px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 52px;
  }

  .u-section-4 .u-blog-1 {
    min-height: 1517px;
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    min-height: 4438px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.375rem;
    width: auto;
    margin-right: 102px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-blog-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-gap: 3px 3px;
    min-height: 600px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 20px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 544px;
}

.u-section-5 .u-layout-wrap-1 {
  min-height: 436px;
  margin: 58px auto 58px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Recoleta-Light;
  font-size: 1.125rem;
  margin: 105px 40px 0 0;
}

.u-section-5 .u-text-2 {
  font-family: Recoleta-Medium;
  font-weight: 400;
  margin: 20px 40px 0 0;
}

.u-section-5 .u-text-3 {
  font-family: Sora-VariableFont_wght;
  margin: 20px 40px 0 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  font-weight: 700;
  border-style: none;
  margin: 20px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 133px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-image-1 {
  width: 143px;
  height: 67px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 133px;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px;
}

.u-section-5 .u-image-2 {
  width: 143px;
  height: 67px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-4 {
  background-image: none;
  min-height: 133px;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px;
}

.u-section-5 .u-image-3 {
  width: 143px;
  height: 67px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-5 {
  background-image: none;
  min-height: 133px;
}

.u-section-5 .u-container-layout-5 {
  padding: 20px;
}

.u-section-5 .u-image-4 {
  width: 143px;
  height: 67px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-6 {
  background-image: none;
  min-height: 133px;
}

.u-section-5 .u-container-layout-6 {
  padding: 20px;
}

.u-section-5 .u-image-5 {
  width: 243px;
  height: 122px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-7 {
  background-image: none;
  min-height: 133px;
}

.u-section-5 .u-container-layout-7 {
  padding: 20px;
}

.u-section-5 .u-image-6 {
  width: 143px;
  height: 67px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-wrap-1 {
    min-height: 228px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-text-1 {
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 110px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 110px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 110px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 110px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 110px;
  }

  .u-section-5 .u-image-5 {
    width: 195px;
    height: 98px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    min-height: 352px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    min-height: 862px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1270px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    min-height: 316px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 27px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 112px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 112px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 112px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 112px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 145px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 112px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 777px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 15px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 936px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 0 0;
}

.u-section-6 .u-group-1 {
  width: 348px;
  min-height: 446px;
  margin: 153px auto 0 81px;
}

.u-section-6 .u-shape-1 {
  width: 341px;
  height: 316px;
  margin: 36px auto 0 7px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/1411930994-0.jpeg");
  height: 340px;
  background-position: 50% 50%;
  width: 340px;
  margin: -352px auto 0 -7px;
}

.u-section-6 .u-shape-2 {
  width: 142px;
  height: 54px;
  animation-duration: 1000ms;
  margin: 27px auto 0 7px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 761px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  font-family: Recoleta-Medium;
  font-weight: normal;
  margin: 0 146px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 3.75rem;
  font-family: Recoleta-Bold;
  margin: 27px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  font-family: Sora-VariableFont_wght;
  font-weight: normal;
  margin: 27px 0 0;
}

.u-section-6 .u-form-1 {
  height: 317px;
  width: 510px;
  margin: 32px 0 0;
}

.u-section-6 .u-label-1 {
  font-family: Sora-VariableFont_wght;
}

.u-section-6 .u-input-1 {
  font-family: Sora-VariableFont_wght;
}

.u-section-6 .u-label-2 {
  font-family: Sora-VariableFont_wght;
}

.u-section-6 .u-input-2 {
  font-family: Sora-VariableFont_wght;
}

.u-section-6 .u-form-group-3 {
  margin-left: 0;
}

.u-section-6 .u-label-3 {
  font-family: Sora-VariableFont_wght;
}

.u-section-6 .u-input-3 {
  font-family: Sora-VariableFont_wght;
}

.u-section-6 .u-form-group-4 {
  margin-left: 0;
}

.u-section-6 .u-label-4 {
  font-family: Sora-VariableFont_wght;
}

.u-section-6 .u-input-4 {
  font-family: Sora-VariableFont_wght;
}

.u-section-6 .u-form-group-5 {
  margin-left: 0;
}

.u-section-6 .u-label-5 {
  font-family: Sora-VariableFont_wght;
}

.u-section-6 .u-input-5 {
  font-family: Sora-VariableFont_wght;
}

.u-section-6 .u-form-group-6 {
  margin-left: 0;
}

.u-section-6 .u-label-6 {
  font-family: Sora-VariableFont_wght;
}

.u-section-6 .u-label-7 {
  font-family: Sora-VariableFont_wght;
}

.u-section-6 .u-form-group-7 {
  margin-left: 0;
}

.u-section-6 .u-label-8 {
  font-family: Sora-VariableFont_wght;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Sora-VariableFont_wght;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 992px;
  }

  .u-section-6 .u-group-1 {
    width: 339px;
    min-height: 454px;
    margin-top: 119px;
    margin-right: 31px;
    margin-left: auto;
  }

  .u-section-6 .u-shape-1 {
    width: 330px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    height: 339px;
    width: 339px;
    margin-top: -359px;
    margin-left: -9px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: 59px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 627px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 46px;
  }

  .u-section-6 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 1018px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 7px;
  }

  .u-section-6 .u-group-1 {
    width: 330px;
    margin-top: 180px;
    margin-right: auto;
    margin-left: 8px;
  }

  .u-section-6 .u-image-1 {
    height: 330px;
    width: 330px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1384px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 541px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 26px;
    margin-left: 70px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -352px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-shape-2 {
    margin-top: 51px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 842px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-form-1 {
    height: 466px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 474px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-6 .u-group-1 {
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: -359px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 270px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 268px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 3px 19px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Recoleta-Medium;
  margin: 0 49px 0 11px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 256px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0 6px 30px;
}

.u-section-7 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: Recoleta-Medium;
  font-weight: 400;
  margin: 0 30px 0 0;
}

.u-section-7 .u-text-3 {
  font-family: Recoleta-Regular;
  margin: 20px 235px 0 0;
}

.u-section-7 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Recoleta-Bold;
  margin: 20px 30px 0 0;
}

.u-section-7 .u-text-5 {
  font-family: Recoleta-Regular;
  margin: 31px 149px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 256px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 16px;
}

.u-section-7 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: Recoleta-Medium;
  font-weight: 400;
  margin: 0;
}

.u-section-7 .u-text-7 {
  font-weight: 400;
  font-family: Recoleta-Medium;
  margin: 20px 66px 0 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 9px auto 0 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-icon-5 {
  height: 100%;
}

.u-section-7 .u-form-1 {
  height: 157px;
  margin: -170px 790px 14px 30px;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 221px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 211px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 168px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 82px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 211px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
  }

  .u-section-7 .u-form-1 {
    margin-right: 620px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 59px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 16px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 0;
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: -265px;
    margin-right: -340px;
    margin-left: 350px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-right: 10px;
    margin-left: 350px;
  }

  .u-section-7 .u-social-icons-1 {
    min-width: 108px;
    height: 34px;
    margin-top: 40px;
    margin-left: 350px;
  }

  .u-section-7 .u-form-1 {
    margin-right: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 215px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 15px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 8px;
  }

  .u-section-7 .u-text-6 {
    margin-top: -225px;
    margin-right: 77px;
    margin-left: 260px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 260px;
  }

  .u-section-7 .u-social-icons-1 {
    min-width: 120px;
    margin-top: 18px;
    margin-right: 77px;
    margin-left: auto;
  }

  .u-section-7 .u-form-1 {
    margin-right: 220px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 231px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-right: 206px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 151px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 3px;
  }

  .u-section-7 .u-text-6 {
    margin-top: -258px;
    margin-right: -169px;
    margin-left: 179px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
    margin-left: 179px;
  }

  .u-section-7 .u-social-icons-1 {
    min-width: 108px;
    height: 29px;
    width: 171px;
    margin-top: 60px;
    margin-right: 1px;
  }

  .u-section-7 .u-form-1 {
    margin-right: 20px;
  }
}@font-face {
  font-family: 'Recoleta-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Recoleta-Bold.ttf);
}@font-face {
  font-family: 'Recoleta-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Recoleta-Regular.ttf);
}@font-face {
  font-family: 'Recoleta-Black';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Recoleta-Black.ttf);
}@font-face {
  font-family: 'Sora-VariableFont_wght';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Sora-VariableFont_wght.ttf);
}@font-face {
  font-family: 'Recoleta-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Recoleta-Light.ttf);
}@font-face {
  font-family: 'Recoleta-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Recoleta-Medium.ttf);
}@font-face {
  font-family: 'Recoleta-Bold-2';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Recoleta-Bold-2.ttf);
}@font-face {
  font-family: 'Sora-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Sora-Medium.ttf);
}