.u-section-1 {
  min-height: 803px;
  background-image: none;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 71px;
  margin-bottom: 3px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 225px;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 0 0 15px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 504px;
}

.u-section-1 .u-container-layout-2 {
  padding: 11px 30px 30px;
}

.u-section-1 .u-image-1 {
  width: 575px;
  height: 421px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 28px auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 389px;
}

.u-section-1 .u-container-layout-3 {
  padding: 9px 0 30px 4px;
}

.u-section-1 .u-image-2 {
  width: 557px;
  height: 348px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 3px auto 0 28px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 340px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  font-family: Recoleta-Bold-2;
  font-size: 3.75rem;
  margin: 15px 4px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 675px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 44px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 60px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 23px;
  }

  .u-section-1 .u-image-1 {
    height: 282px;
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 317px;
  }

  .u-section-1 .u-image-2 {
    width: 466px;
    height: 298px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 273px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 18px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1271px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 186px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-1 .u-image-1 {
    height: 372px;
    width: 542px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 347px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-1 .u-image-2 {
    width: 562px;
    height: 377px;
    margin: -35px 24px -24px auto;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 246px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 60px;
    margin-left: 155px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1121px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 192px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 36px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 341px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-image-1 {
    height: 356px;
    margin-top: 14px;
    margin-bottom: -5px;
    width: 520px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 251px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    width: 536px;
    height: 359px;
    margin-top: -30px;
    margin-right: 52px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 291px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 8px;
    margin-right: 0;
    margin-left: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 807px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 83px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 124px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 17px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1px;
    margin-left: 32px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-image-1 {
    height: 219px;
    width: 320px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 208px;
  }

  .u-section-1 .u-image-2 {
    width: 336px;
    height: 210px;
    margin-right: 11px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 140px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 6px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 0;
    margin-left: 32px;
    margin-right: 32px;
  }
}.u-section-2 {
  background-image: linear-gradient(#f9f4e8, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 748px;
}

.u-section-2 .u-shape-1 {
  width: 337px;
  left: 0;
  background-image: linear-gradient(white, black);
  right: auto;
}

.u-section-2 .u-list-1 {
  width: 496px;
  margin: 60px 43px 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 561px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: Recoleta-Medium;
  margin: -61px 0 0 107px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0 107px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 20px;
}

.u-section-2 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-family: Recoleta-Medium;
  margin: -61px 0 0 107px;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0 107px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-family: Recoleta-Medium;
  margin: -61px 0 0 107px;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0 107px;
}

.u-section-2 .u-group-1 {
  background-image: none;
  width: 495px;
  min-height: 394px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -477px auto 60px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 40px;
}

.u-section-2 .u-text-7 {
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 52px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: Chenla;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    left: 30px;
  }

  .u-section-2 .u-list-1 {
    width: 424px;
    height: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 95px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 95px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 95px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 95px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 95px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 95px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-2 .u-shape-1 {
    width: 323px;
    height: 494px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 337px;
    margin-top: -1009px;
    margin-bottom: 615px;
    margin-left: 147px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-8 {
    font-size: 4.0625rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    height: 218px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 472px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-8 {
    font-size: 3rem;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 617px;
}

.u-section-3 .u-blog-1 {
  margin: 63px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 26.6667px);
  grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  grid-gap: 40px 40px;
  min-height: 417px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/default-image.jpg");
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 220px 0 0;
}

.u-section-3 .u-metadata-1 {
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 82px;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: 15px 82px 0 auto;
}

.u-section-3 .u-image-2 {
  background-image: url("images/default-image.jpg");
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 220px 0 0;
}

.u-section-3 .u-metadata-2 {
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 82px;
}

.u-section-3 .u-text-4 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: 15px 82px 0 auto;
}

.u-section-3 .u-image-3 {
  background-image: url("images/default-image.jpg");
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin: 220px 0 0;
}

.u-section-3 .u-metadata-3 {
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 82px;
}

.u-section-3 .u-text-6 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: 15px 82px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-blog-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-metadata-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-metadata-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-metadata-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 230px;
  }

  .u-section-3 .u-metadata-1 {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 15px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 230px;
  }

  .u-section-3 .u-metadata-2 {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 15px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 230px;
  }

  .u-section-3 .u-metadata-3 {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: 15px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 0;
    margin-right: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 741px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-4 .u-image-1 {
  min-height: 401px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-4 .u-text-1 {
  margin: 242px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 200px;
  background-image: url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-image-3 {
  min-height: 200px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-text-3 {
  margin: 15px 9px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 9px 0 0;
}

.u-section-4 .u-image-4 {
  min-height: 200px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-text-5 {
  margin: 15px 9px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 9px 0 0;
}

.u-section-4 .u-image-5 {
  min-height: 200px;
  background-image: url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px;
}

.u-section-4 .u-image-6 {
  min-height: 401px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 60px;
}

.u-section-4 .u-text-7 {
  margin: 242px 0 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 553px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 3px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 490px;
}

.u-section-5 .u-container-layout-1 {
  padding: 2px 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 65px 0 0;
}

.u-section-5 .u-text-2 {
  font-family: Recoleta-Medium-1;
  margin: 49px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  margin: 49px auto 0 192px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 490px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 496px;
  height: 407px;
  margin: 0 3px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 92px;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 404px;
  }

  .u-section-5 .u-image-1 {
    width: 410px;
    height: 336px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 464px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 299px;
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 292px;
  }

  .u-section-5 .u-image-1 {
    height: 184px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 692px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-family: Recoleta-Bold;
  margin: 20px auto 0;
}

.u-section-6 .u-slider-1 {
  margin-top: 7px;
  margin-bottom: 27px;
  min-height: 603px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  top: auto;
  bottom: 42px;
  width: auto;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1040px;
  margin: 0;
}

.u-section-6 .u-image-1 {
  min-height: 513px;
  background-image: url("images/pexels-photo-5055815.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 513px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-6 .u-icon-1 {
  height: 96px;
  width: 96px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 513px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 23px 0 30px;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 108px 0 0 7px;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 287px 309px 0 0;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  margin: 16px 229px -222px 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-6 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-image-2 {
  min-height: 513px;
  background-image: url("images/pexels-photo-5055815.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 513px;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-6 .u-icon-2 {
  height: 96px;
  width: 96px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 513px;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px 23px 0 30px;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 108px 0 0 7px;
}

.u-section-6 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 287px 309px 0 0;
}

.u-section-6 .u-text-7 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  margin: 16px 229px -222px 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  background-image: none;
}

.u-section-6 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 840px;
  }

  .u-section-6 .u-image-1 {
    min-height: 414px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 585px;
  }

  .u-section-6 .u-icon-1 {
    height: 95px;
    width: 95px;
    margin-top: 434px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 405px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 43px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 37px;
    margin-right: 216px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-right: 136px;
    margin-bottom: 0;
  }

  .u-section-6 .u-image-2 {
    min-height: 414px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 585px;
  }

  .u-section-6 .u-icon-2 {
    height: 95px;
    width: 95px;
    margin-top: 434px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 405px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 43px;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 37px;
    margin-right: 216px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 26px;
    margin-right: 136px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 660px;
  }

  .u-section-6 .u-image-1 {
    min-height: 368px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 24px;
  }

  .u-section-6 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin: 552px auto -87px 0;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 3px;
    padding-left: 24px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 101px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 27px;
    margin-right: 106px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 0;
    margin-right: 26px;
    margin-left: 6px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-2 {
    min-height: 368px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 35px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 24px;
  }

  .u-section-6 .u-icon-2 {
    height: 64px;
    width: 64px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-8 {
    padding-top: 3px;
    padding-left: 24px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.25rem;
    margin-top: 50px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 78px;
    margin-right: 106px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 0;
    margin-right: 26px;
    margin-left: 6px;
  }

  .u-section-6 .u-carousel-control-1 {
    width: 60px;
    height: 60px;
    left: 0;
    top: auto;
    position: absolute;
    right: auto;
    bottom: 367px;
  }

  .u-section-6 .u-carousel-control-2 {
    width: 60px;
    height: 60px;
    left: auto;
    top: auto;
    right: 0;
    bottom: 367px;
    position: absolute;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-slider-1 {
    min-height: 1390px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 520px;
  }

  .u-section-6 .u-image-1 {
    min-height: 669px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 1710px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-left: -6px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-bottom: -244px;
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 669px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 54px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 581px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 7px;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: 121px;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-bottom: -244px;
    margin-left: 0;
  }

  .u-section-6 .u-carousel-control-1 {
    bottom: 344px;
  }

  .u-section-6 .u-carousel-control-2 {
    bottom: 348px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1472px;
  }

  .u-section-6 .u-slider-1 {
    margin-bottom: 20px;
    min-height: 1397px;
    height: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 320px;
  }

  .u-section-6 .u-image-1 {
    min-height: 473px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 788px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    min-height: 473px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 51px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 508px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
  }

  .u-section-6 .u-carousel-control-1 {
    bottom: 392px;
  }

  .u-section-6 .u-carousel-control-2 {
    bottom: 392px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 258px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 256px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 3px 19px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  font-family: Recoleta-Medium;
  margin: 0 49px 0 11px;
}

.u-section-7 .u-form-1 {
  height: 157px;
  margin: 22px 0 0 11px;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 258px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0 6px 30px;
}

.u-section-7 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: Recoleta-Medium;
  font-weight: 400;
  margin: 0 30px 0 0;
}

.u-section-7 .u-text-3 {
  font-family: Recoleta-Regular;
  margin: 20px 235px 0 0;
}

.u-section-7 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Recoleta-Bold;
  margin: 20px 30px 0 0;
}

.u-section-7 .u-text-5 {
  font-family: Recoleta-Regular;
  margin: 25px 149px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 256px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 16px;
}

.u-section-7 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: Recoleta-Medium;
  font-weight: 400;
  margin: 0;
}

.u-section-7 .u-text-7 {
  font-weight: 400;
  font-family: Recoleta-Medium;
  margin: 20px 66px 0 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 9px auto 0 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 257px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-form-1 {
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 213px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 168px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 82px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 211px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 59px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 16px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 0;
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: -265px;
    margin-right: -340px;
    margin-left: 350px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-right: 10px;
    margin-left: 350px;
  }

  .u-section-7 .u-social-icons-1 {
    min-width: 108px;
    height: 34px;
    margin-top: 40px;
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 215px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 15px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 8px;
  }

  .u-section-7 .u-text-6 {
    margin-top: -225px;
    margin-right: 77px;
    margin-left: 260px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 260px;
  }

  .u-section-7 .u-social-icons-1 {
    min-width: 120px;
    margin-top: 18px;
    margin-right: 77px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 18px;
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 231px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-right: 206px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 151px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 3px;
  }

  .u-section-7 .u-text-6 {
    margin-top: -258px;
    margin-right: -169px;
    margin-left: 179px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
    margin-left: 179px;
  }

  .u-section-7 .u-social-icons-1 {
    min-width: 108px;
    height: 29px;
    width: 171px;
    margin-top: 60px;
    margin-right: 1px;
  }
}@font-face {
  font-family: 'Recoleta-Bold-2';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Recoleta-Bold-2.ttf);
}@font-face {
  font-family: 'Recoleta-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Recoleta-Medium.ttf);
}@font-face {
  font-family: 'Recoleta-Medium-1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Recoleta-Medium-1.ttf);
}@font-face {
  font-family: 'Recoleta-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Recoleta-Bold.ttf);
}@font-face {
  font-family: 'Recoleta-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Recoleta-Regular.ttf);
}@font-face {
  font-family: 'Sora-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Sora-Medium.ttf);
}